#nav-div{
    height: 110px;
    width: 330px;
    display: flex;
    gap: 10px;
    align-items:center;
    padding-left: 30px;
}
body  {
    background-image: url("c:/Users/Admin/Documents/Desktop/darasing/11062b_4f14b356c1df4854968cf1cc94ca98c5f000.jpg");
    background-repeat: no-repeat;
   
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: opacity(50%);
  }
  html {
    scroll-behavior: smooth;
  }
  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    
  
    background-color: rgb(29, 45, 60);

}

ul{
    padding-top: 30px;
    gap:40px;
    list-style: none;

}
.link{
    color: white;
}
.link:hover{
    color: rgb(237, 205, 32);
}
.sp{
    color:rgb(237, 205, 32);
    position: relative;
    bottom: 170px;
    font-size: 160px;
}
.ps{
   
    color: rgb(43, 41, 53);
    font-size: 70px;

}
#services{
    background-color: white;
    position: relative;
    top: 400px;
}
.boss{
   
    justify-content: space-between;
   
    padding-left: 200px;
    padding-right: 200px;
}
.card{
     height: 100%;
}
.about{
    /* background-image: url("c:/Users/Admin/Documents/Desktop/darasing/ef7ea5acd46045038a8f5e469335fe51.png"); */
    background-repeat: no-repeat;

}
#preloader{
    background: #fffbe0 url("c:/Users/Admin/Documents/Desktop/darasing/under-construction-gif-11.gif") no-repeat center center ;
    background-size: 70%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


.polo{
    filter: grayscale(100%);
}

.polo:hover{
    filter: none;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    body::-webkit-scrollbar-thumb {
    background-image: url("c:/Users/Admin/Documents/Desktop/darasing/scrollbar.gif"),
        linear-gradient(100deg, transparent, transparent);
    background-position: center bottom, center -40px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    }
     
    ::-webkit-scrollbar-thumb{
        background-image: url("c:/Users/Admin/Documents/Desktop/darasing/scrollbar.gif");
        color: blue;
    }
    body::-webkit-scrollbar {
        width: 3em;
        background-image: url("c:/Users/Admin/Documents/Desktop/darasing/wall.jpg");
      }